<h3>Projects : </h3>
<div class="ms-5 m-2" style="width: 60%; background-color: #bed6ef; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <div class="mb-3 ms-4 d-flex flex-row align-items-center gap-3">
        <label for="projectStatus" class="form-label">Select the Project Status : </label>
        <select id="projectStatus" class="form-select" style="width: 20%;" [(ngModel)]="selectedStatus">
            <option value="All">All</option>
            <option value="active">Active</option>
            <option value="completed">Completed</option>
            <option value="on hold">On Hold</option>
        </select>
    </div>
    <div class="d-flex flex-row mb-3 ms-4 gap-3 align-items-center">
        <label for="minTeamSize" class="form-label me-2">Min Team Size:</label>
        <input type="number" id="minTeamSize" class="form-control me-3" [(ngModel)]="min" placeholder="Min Team Size" style="width: 100px;">
        <label for="maxTeamSize" class="form-label me-2">Max Team Size:</label>
        <input type="number" id="maxTeamSize" class="form-control" [(ngModel)]="max" placeholder="Max Team Size" style="width: 100px;">
    </div>
</div>
<div class="d-flex flex-wrap justify-content-around">
    <app-project-card *ngFor="let project of projectslist | filterprojectstatus:selectedStatus | filterteamsize:min:max" [project]="project"></app-project-card>
</div>